name = "pruno-backend"
main = "apps/backend/src/index.ts"
compatibility_date = "2024-01-01"

[durable_objects]
bindings = [
    { name = "GAME_ROOM", class_name = "GameRoom" }
]

[[migrations]]
tag = "v1"
new_classes = ["GameRoom"]
